.page{
    width: 780px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.infophoto{
    height: 200px;
}
.info{
    float: left;
    margin-top: 20px;
}
.photo{
    float: right;
}

.section{
    margin-bottom: 25px;
    text-align: justify;

    font-size: 20px;
}
.sec-gauche{
    float: left;
    margin-top: -15px;


}
.sec-droite{
    margin-left: 160px;
    margin-top: 1px;

}
h2{
    font-size: 28px;
    color: midnightblue;
    border-bottom: 3px dashed midnightblue;
}
